{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<h3>Редактирование отчета по лабораторной {{lab}} {{task}} участника {{student}}</h3>
    <br>
    <br>
    <form method="post">
        <fieldset>
            <legend></legend>
            {{ form.report(class_="report_control") }}
            <br>
            <br>
            {{ form.save_report }}
        </fieldset>
    </form>
    <br>
    <b>Вдруг пригодится:</b>
    <p>No differences. Good job!</p>

{% endblock %}
