{% extends "base.html" %}

{% block page_content %}
    <h1>Help page</h1>
    <br>
    <br>
    <p>По нажатию кнопки "Проверка лабораторных" Вы попадаете на основную страницу сайта.
    На этой странице находится таблица с перечнем лабораторных, которые нужно просмотреть.</p>
    <br>
    <p>Каждая строка содержит поля:</p>
    <ul>
        <li><b>Lab</b> -- номер лабораторной</li>
        <li><b>Student</b> -- Имя, фамилия студента</li>
        <li><b>Diff</b> -- отличие решения студента от правильного ответа, в процентах</li>
        <li><b>Live Test</b> -- результат теста, с выполнением команд show, ping и других</li>
        <li><b>Статус</b> -- статус лабораторной</li>
        <li><b>Отчет</b> -- ссылка для перехода на подробный отчет по данной лабораторной</li>
    </ul>
    <h3>Пример таблицы</h3>
        <table class="table table-hover">
            <tr>
                <th>Lab</th>
                <th>Student</th>
                <th>Diff</th>
                <th>Live Test</th>
                <th>Статус</th>
                <th>Отчет</th>
            </tr>
            {% for lab in s_labs %}
            <tr>
                <td>{{ lab }}</td>
                <td>{{labs[lab]['student']}}</td>
                <td>{{labs[lab]['diff']}}%</td>
                <td>{{labs[lab]['live']}}</td>
                <td>Не проверена</td>
                <td><a href="#">Перейти к отчету</a></td>
            </tr>
            {% endfor %}
        </table>
    <br>
    <p>После перехода по ссылке просмотра отчета, открывается страница по конкретной лабе, 
    выполненной участником.</p>
    <p>На этой странице находятся два раздела "Diff report" и "Live report".
    Каждый можно развернуть и посмотреть соответствующий отчет.</p>
    <p>При необходимости, можно также просмотреть конфигурационные файлы.
    На странице есть ссылки на конфигурации правильных ответов и конфигурации,
    которые выложил участник.
    </p>
{% endblock %}
