{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h3>Diff initial/answer configs по лабораторной {{lab}}</h3>
    <br>
    <br>
    {% for task in diff %}
    <div class="spoiler-wrapper">
        <div class="spoiler folded"><a href="javascript:void(0);">Show Diff report for {{task}}</a></div>
        <pre class="spoiler-text">{{diff[task]}}</pre>
    </div>
    <br>
    {% endfor %}        
    <br>
    <br>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
    jQuery(document).ready(function(){
        jQuery('.spoiler-text').hide()
        jQuery('.spoiler').click(function(){
            jQuery(this).toggleClass("folded").toggleClass("unfolded").next().slideToggle()
        })
    })
    </script>
{% endblock %}
