{% extends "base.html" %}

{% block page_content %}
    <h1>Help page</h1>
    <br>
    <br>
    <p>По нажатию кнопки "Проверка лабораторных" Вы попадаете на основную страницу сайта.
    На этой странице находится таблица с перечнем лабораторных, которые нужно проверить.</p>
    <br>
    <p>Каждая строка содержит поля:</p>
    <ul>
        <li><b>Lab</b> - номер лабораторной</li>
        <li><b>Student</b> - Имя, фамилия студента</li>
        <li><b>Diff</b> - отличие решения студента от правильного ответа, в процентах</li>
        <li><b>Статус</b> - статус лабораторной</li>
        <li><b>Отчет</b> - ссылка для перехода на подробный отчет по данной лабораторной</li>
    </ul>
    <h3>Пример таблицы</h3>
    <img src="static/img/labs_page.png" alt="Labs" style="width:804px;">
    <br>
    <br>
    <p>После перехода по ссылке просмотра отчета, открывается страница по конкретной лабе, 
    выполненной участником.</p>
    <h3>Пример страницы с отчетом</h3>
    <img src="static/img/reports_page.png" style="width:604px;">
    <br>
    <br>
    <p>На этой странице, для каждого задания лабораторной,
    находятся два раздела "Show Diff report for taskX" и "Edit report for taskX".</p>
    <ul>
        <li><b>Show Diff report for taskX</b> - отчет по лабораторной с разницей между ответом участника и ответом на лабу.</li>
        <li><b>Edit report for taskX</b> - так как в отчет иногда попадают лишние вещи, можно отредактировать его, при желании, и убрать лишнее.</li>
    </ul>
    <p>Кроме отчетов, на странице находятся:</p>
    <ul>
        <li><b>Поле "Add comment" </b> - тут можно написать комментарий к лабе. Особенно это полезно, когда отличий в лабораторной много, но не все из них являются ошибками.</li>
        <li><b>Поле "Enter lab mark"</b> - это поле для введения оценки за лабораторную. На странице с отчетом, ниже находятся правила оценки лаб.</li>
        <li><b>Галочка "Submit grade"</b> - галочка сделана для подстраховки, чтобы случайно не нажать failed/done раньше времени. Для того чтобы результаты проверки засчитались, её надо обязательно нажать.</li>
        <li><b>Кнопки "Failed"/"Done"</b> - кнопки влияют на то, будет ли лаборатоная засчитана как сделанная.</li>
    </ul>
    <p>При нажатии поля "Show Diff report for taskX", открывается diff отчет:</p>
    <img src="static/img/diff_report.png" style="width:604px;">
    <br>
    <br>
    <p>В отчете</p>
    <ul>
        <li>команды с минусом - это те команды, которых не было у участника в ответе, но были в правильном ответе лабы (или есть отличия в строке ответа и ответа участника).</li>
        <li>Команды с плюсом - это то, чего не было в ответе, но что есть в ответе участника.</li>
    </ul>
    <p>Для удобства сделана подсветка цветом.</p>
  



{% endblock %}
