{% extends "base.html" %}

{% block page_content %}
    <h1>Help page</h1>
    <br>
    <br>
    <h2>Проверка лабораторных</h2>
    <p>По нажатию кнопки "Проверка лабораторных" Вы попадаете на основную страницу сайта.
    На этой странице находится таблица с перечнем лабораторных, которые нужно проверить.</p>
    <br>
    <p>Каждая строка содержит поля:</p>
    <ul>
        <li><b>Lab</b> - номер лабораторной</li>
        <li><b>Student</b> - Имя, фамилия участника</li>
        <li><b>Статус</b> - статус лабораторной</li>
        <li><b>Отчет</b> - ссылка для перехода на подробный отчет по данной лабораторной</li>
    </ul>
    <h3>Пример таблицы</h3>
    <img src="static/img/labs_page2.png" alt="Labs" style="width:804px;">
    <br>
    <br>
    <h2>Страница отчета</h2>
    <p>После перехода по ссылке просмотра отчета, открывается страница по конкретной лабе, 
    выполненной участником.</p>
    <h3>Пример страницы с отчетом</h3>
    <img src="static/img/reports_page2.png" style="width:604px;">
    <br>
    <br>
    <p>На этой странице, для каждого задания лабораторной,
    находятся два раздела "Show Diff report for taskX" и "Edit report for taskX".</p>
    <ul>
        <li><b>Show Diff report for taskX</b> - отчет по лабораторной с разницей между ответом участника и ответом на лабу.</li>
        <li><b>Edit report for taskX</b> - так как в отчет иногда попадают лишние вещи, можно отредактировать его, при желании, и убрать лишнее.</li>
    </ul>
    <br>
    <br>
    <p>Для удобства, нажав на <b>Show student configs for task1</b> можно просмотреть конфигурации участника.</p>
    <br>
    <br>
    <br>
    <p>Кроме отчетов, на странице находятся:</p>
    <ul>
        <li><b>Поле "Add comment" </b> - тут можно написать комментарий к лабе. Особенно это полезно, когда отличий в лабораторной много, но не все из них являются ошибками.</li>
        <li><b>Поле "Enter lab mark"</b> - это поле для введения оценки за лабораторную. На странице с отчетом, ниже находятся правила оценки лаб.</li>
        <li><b>Кнопка "Done"</b> - После нажания кнопки результаты проверки записываются и ожидают отправки.</li>
    </ul>
    <br>
    <p>При нажатии поля "Show Diff report for taskX", открывается diff отчет:</p>
    <img src="static/img/diff_report2.png" style="width:604px;">
    <br>
    <br>
    <p>В отчете</p>
    <ul>
        <li>команды с минусом - это те команды, которых не было у участника в ответе, но были в правильном ответе лабы (или есть отличия в строке ответа и ответа участника).</li>
        <li>Команды с плюсом - это то, чего не было в ответе, но что есть в ответе участника.</li>
    </ul>
    <p>Для удобства сделана подсветка цветом.</p>
    <br>
    <br>
    <p>После подсказки о системе оценки, будут находится поля с текстом - это комментарии к уже проверенным лабам (этой же лабе). Часто ошибки одинаковые и так можно скопировать текст комментария и будет быстрее проверять лабы.</p>
    <br>
    <br>
    <h2>Lab info</h2>
    <br>
    <br>
    <p>Страница Lab info позволяет посмотреть initial/answer конфигурации лабораторных, а также diff между initial и answer.</p>
    <img src="static/img/lab_info2.png" style="width:604px;">
    <br>
    <br>
    <p>Вы можете посмотреть конфигурации и diff любой лабораторной, для которой уже опубликован ответ и лабораторную, которая назначена для проверки вам (после того, как её проверил Эмиль)</p>
    <br>
    <h2>Проверенные лабораторные</h2>
    <p>Страница Провереные лабораторные позволяет посмотреть какие лабы были проверены. А также, при необходимости, посмотреть еще раз оценку или комментарий и дает возможность исправить их.</p>
    <br>
    <p>Чтобы исправить оценку, достаточно еще раз нажать на ссылку "Перейти к отчету" соответствующей лабы в таблице "Лабораторные проверенные текущим экспертом".</p>
    <p>Откроется отчет, с заполнеными полями оценки и комментария (если вы писали комментарий). Тут их можно исправить, при необходимости.</p>
    <br>
    <p>Иногда бывает нужно еще раз сгенерировать отчет по лабе участника. Связанно это может быть с тем, что, например, случайно загружена не та конфигурация</p>
    <p>Для перегенерации достаточно выбрать лабу и нажать "Regenerate report"</p>
    <img src="static/img/checked_labs2.png" style="width:604px;">

    <h3>Обратите внимание, что у вас есть доступ только к тем лабам/отчетам, которые назначены вам</h3>
    <br>
    <br>
    <br>
{% endblock %}
