{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    {% if not current_user.is_authenticated %}
        <h2>Привет, уважаемый эксперт!</h2>
        <br>
        <br>
        <p>Ты не залогинился.</p>
        <p>Для того чтобы приступить к проверке лабораторных, тебе надо залогиниться.</p>
    {% else %}
        <h2>Привет, {{current_user}}</h2>
        <br>
        <br>
        <p>Теперь можешь приступать к <a href="{{ url_for('main.labs') }}">проверке лаборов</a> :)</p>
        <br>
        <h2>Ты проверил <b>{{ lab_count }} лаборов!</b></h2>
        <br>
        <h3>Ты {{place}} в рейтинге экспертов по проверке лаб.</h3>
        <table class="table table-hover">
            <tr>
                <th>Labs</th>
                <th>Expert</th>
            </tr>
            {% for labs in exp_stats %}
            <tr>
                <td>{{labs}}</td>
                <td>{{exp_stats[labs]}}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
