{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<h3>Начальные конфиги лабораторной {{lab}}</h3>
<br>
<br>
{% include 'show_configs.html' %}

{% endblock %}


{% block scripts %}
    {{ super() }}

    <script>
    jQuery(document).ready(function(){
        jQuery('.spoiler-text').hide()
        jQuery('.spoiler').click(function(){
            jQuery(this).toggleClass("folded").toggleClass("unfolded").next().slideToggle()
        })
    })
    </script>
{% endblock %}

